@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Play&display=swap');
.flex-all-center{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 67vh;

}
.btn{
    border: 1px solid white;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background: var(--main-bg-color);
    padding: 4.5px 15px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    border-radius: 5px;

}

.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 26px 0;
}

.text-center{
    text-align: center;
}
.fav{
    height: 0px;
    width: 2px;
}

p{
    padding: 0px 47px;
}
